*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.mas
genbank/
pdf_search_results.txt
photo_editing/cropped_origs/
photo_editing/final/
photo_editing/old/
photo_editing/working/
sequences/ab1/
sequences/barcodes_fwd_26-04-14.fas
sequences/doradids.fas
sequences/mus.fas
sequences/nhamunda_seqs_aligned.fasta
sequences/official_barcode.fas
sequences/pimelodella.svg
split/
final_morpho_table.csv
temp/